{% extends 'core/base_portfolio.html' %}
{% load static %}




{% block content%}
<div class="center_content">
    <div class="center_content__content  z-3">
        <span class="text-dark fs-4">{{error}}</span> 
        <h1 class="text-center text-light ls-2 fs-1">Login</h1>
        <form class="content__form" action="/login/" method="post">
            {% csrf_token %}
            <input class="form-control" type="text" name="username" placeholder="usuario">
            <input class="form-control" type="password" name="password" placeholder="contraseña">
            <button class="btn btn-light text-light my-3 text-capitalize">Login</button>
        </form>
    </div>
   
    <div class="image_test">

        <img src="{% static image_url %}" alt="">
    </div>

</div>
{% endblock content%}